
#music{
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.wars{
    width: 1920px;
    height: 1080px;
    object-fit: cover;
}
@media only screen and (max-width: 600px){
    .wars{
         width: 100%;
        height: 200px;
        object-fit: cover;
    }
}